.apper__first__letter {
  text-transform: capitalize;
}
.opacity {
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.opacity:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.stadii ul {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
.stadii li {
  margin: 17px;
  color: #000;
}

.stages {
  p {
    color: #000;
    text-align: left;
    margin: 15px 0;
    margin-top: 15px;
    line-height: 1.4;
  }
}
.center {
  margin-top: 25px;
}
.main{
  h1{
    font-weight: 400;
  }
}
.form-btn.opacity{
  background-color: orange;
}