.apper__first__letter {
  text-transform: capitalize;
}
.opacity {
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.opacity:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
